@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;700;900&family=Roboto:wght@300;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

input[type=text], input[type=email], input[type=tel], texttarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*
font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  width: auto;
}

@media (max-width: 952px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 992.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

.header-menu__icon {
  display: block;
  position: absolute;
  top: 38px;
  right: 10px;
  width: 30px;
  height: 18px;
  cursor: pointer;
  z-index: 5;
}

.header-menu__icon span,
.header-menu__icon::before,
.header-menu__icon::after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #00e0d0;
}

.header-menu__icon::before,
.header-menu__icon::after {
  content: "";
}

.header-menu__icon::before {
  top: 0;
}

.header-menu__icon::after {
  bottom: 0;
}

.header-menu__icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.header-menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.header-menu__icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.header-menu__icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.header-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  left: -120%;
  top: 0;
  background-color: #322a54;
  padding: 80px 10px 20px 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-menu._active {
  left: 0;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  display: none;
}

.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-screan {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.main-screan__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  position: relative;
  z-index: 100;
  width: 100%;
  top: 15px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  padding: 21px 13px;
}

.menu__list li a {
  font-size: 13px;
  font-weight: 900;
  color: #fff;
  letter-spacing: 0.33px;
}

.menu__list li a:hover {
  color: #00e0d0;
}

@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header-menu__icon {
  display: none;
}

@media (max-width: 767.98px) {
  .header-menu__icon {
    display: block;
    position: fixed;
  }
}

.mySwiper1 {
  max-width: 771px;
  margin: 228px 0 70px 0;
}

@media (max-width: 767.98px) {
  .mySwiper1 {
    margin: 80px 0 35px 0;
  }
}

.slide__title {
  margin: 0 0 52px 0;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 32px;
  color: #fff;
  letter-spacing: 0.32px;
  text-align: center;
}

.slide__title::after {
  content: '';
  display: block;
  width: 50px;
  height: 1px;
  background-color: #00e0d0;
  margin: 45px auto 0 auto;
}

@media (max-width: 767.98px) {
  .slide__title::after {
    margin: 22px auto 0 auto;
  }
}

@media (max-width: 767.98px) {
  .slide__title {
    margin: 0 0 26px 0;
  }
}

.slide__text {
  font-size: 14px;
  color: #fff;
  line-height: 1.71;
  letter-spacing: 0.7px;
  text-align: center;
}

.slide__btn {
  margin: 50px auto 120px auto;
}

.slide__btn:hover {
  background-color: #00e0d0;
  color: #fff;
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
}

@media (max-width: 767.98px) {
  .slide__btn {
    margin: 25px auto 60px auto;
  }
}

.slide__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  display: inline-block;
  font-family: 'Hammersmith One', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  padding: 15px;
  -webkit-transition: background-color 0.7s, color 0.7s, -webkit-box-shadow 0.7s;
  transition: background-color 0.7s, color 0.7s, -webkit-box-shadow 0.7s;
  transition: background-color 0.7s, color 0.7s, box-shadow 0.7s;
  transition: background-color 0.7s, color 0.7s, box-shadow 0.7s, -webkit-box-shadow 0.7s;
}

.story__row {
  position: relative;
  margin: 71px 0 70px 0;
}

@media (max-width: 767.98px) {
  .story__row {
    margin: 25px 0 25px 0;
  }
}

.story__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .story__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.story__column {
  margin: 0 50px;
}

.story__column h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1.1px;
  color: #413d4b;
  margin: 0 0 28px 0;
}

@media (max-width: 767.98px) {
  .story__column h3 {
    text-align: center;
  }
}

.story__column p {
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.42px;
  margin: 0 0 31px 0;
  color: rgba(65, 61, 75, 0.75);
}

@media (max-width: 767.98px) {
  .story__column p {
    margin: 0 0 25px 0;
    text-align: center;
  }
}

@media (max-width: 992.98px) {
  .story__column {
    margin: 0 25px;
  }
}

@media (max-width: 479.98px) {
  .story__column img {
    margin: 0 auto;
    display: block;
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  .story__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.story__btn:hover {
  background-color: #00e0d0;
  color: #fff;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
}

.home {
  display: none;
}

.home span {
  margin: 0 0 0 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 2px solid #00e0d0;
  border-right: 2px solid #00e0d0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.fixed {
  position: fixed;
  color: #00e0d0;
  width: 100%;
  top: 10%;
  left: 95%;
  z-index: 25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  -webkit-animation: up 1s linear infinite;
          animation: up 1s linear infinite;
}

@media (max-width: 767.98px) {
  .fixed {
    display: none;
  }
}

@-webkit-keyframes up {
  0% {
    top: 10%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 10%;
  }
}

@keyframes up {
  0% {
    top: 10%;
  }
  50% {
    top: 15%;
  }
  100% {
    top: 10%;
  }
}

.video-story__row {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-story__row video {
  width: 100%;
  max-height: 550px;
}

.video-story__buttom {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 0.8px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

.video-story__buttom::before {
  content: "";
  display: block;
  margin: 0 auto 34px auto;
  width: 100px;
  height: 100px;
  background: url(../img/icons/play-icon.png) 0 0/contain no-repeat;
}

@media (max-width: 992.98px) {
  .video-story__buttom::before {
    width: 75px;
    height: 75px;
    margin: 0 auto 25px auto;
  }
}

@media (max-width: 767.98px) {
  .video-story__buttom::before {
    width: 50px;
    height: 50px;
    margin: 0 auto 10px auto;
  }
}

@media (max-width: 992.98px) {
  .video-story__buttom {
    font-size: 14px;
  }
}

@media (max-width: 479.98px) {
  .video-story__buttom {
    font-size: 12px;
  }
}

.video-story__buttom._active {
  display: none;
}

.expertise {
  margin: 72px 0 68px 0;
}

.expertise__text {
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.expertise__title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1.1px;
  color: #413d4b;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 16px 0;
}

.expertise__subtitle {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.05px;
  color: rgba(47, 45, 53, 0.75);
}

.expertise__subtitle::after {
  content: "";
  display: block;
  margin: 18px auto 48px auto;
  width: 50px;
  height: 2px;
  background-color: #c6c4c9;
}

@media (max-width: 767.98px) {
  .expertise__subtitle::after {
    margin: 18px auto 24px auto;
  }
}

.expertise__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .expertise__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.expertise__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 39px 32px;
  border: 1px solid #ebebeb;
}

.expertise__column:nth-child(1) {
  border-left: none;
  border-top: none;
}

.expertise__column:nth-child(2) {
  border-top: none;
}

.expertise__column:nth-child(3) {
  border-top: none;
  border-right: none;
}

.expertise__column:nth-child(4) {
  border-bottom: none;
  border-left: none;
}

.expertise__column:nth-child(5) {
  border-bottom: none;
}

.expertise__column:nth-child(6) {
  border-bottom: none;
  border-right: none;
}

.expertise__column:hover {
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
}

@media (max-width: 992.98px) {
  .expertise__column {
    padding: 18px 16px;
  }
}

@media (max-width: 767.98px) {
  .expertise__column:nth-child(odd) {
    border: none;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  .expertise__column:nth-child(even) {
    border: none;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  .expertise__column:first-child {
    border-top: none;
  }
  .expertise__column:last-child {
    border-bottom: none;
  }
}

.expertise__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767.98px) {
  .expertise {
    margin: 36px 0 34px 0;
  }
}

.item__img {
  margin: 32px 0 35px 0;
}

@media (max-width: 767.98px) {
  .item__img {
    margin: 16px 0 17px 0;
  }
}

.item__title {
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.7px;
  color: #413d4b;
  margin: 0 0 25px 0;
}

.item__text {
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.57;
  letter-spacing: 0.7px;
  color: rgba(51, 51, 51, 0.75);
}

.our-team__wrapp {
  position: relative;
  z-index: 10;
  text-align: center;
}

.our-team__text-1 {
  font-family: 'Playfair Display', serif;
  margin: 71px 0 47px 0;
}

@media (max-width: 767.98px) {
  .our-team__text-1 {
    margin: 30px 0 24px 0;
  }
}

.our-team__text-2 {
  border: 1px solid #7b7790;
}

.our-team__title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1.1px;
  color: #fff;
  margin: 0 0 16px 0;
}

.our-team__subtitle {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1.05px;
  color: #f9f9f9;
}

.our-team__subtitle::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #655c80;
  margin: 18px auto 0 auto;
}

.our-team__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 70px 0;
}

@media (max-width: 992.98px) {
  .our-team__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.our-team__columns-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px 0 0;
}

@media (max-width: 992.98px) {
  .our-team__columns-1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}

.our-team__columns-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 10px;
}

@media (max-width: 992.98px) {
  .our-team__columns-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}

.our-team__column {
  margin: 0 10px;
}

.our-team__column:last-child {
  margin-right: 0;
}

.our-team__column:first-child {
  margin-left: 0;
}

@media (max-width: 992.98px) {
  .our-team__column {
    margin: 5px 5px;
  }
  .our-team__column:last-child {
    margin-right: 5px;
  }
  .our-team__column:first-child {
    margin-left: 5px;
  }
}

@media (max-width: 767.98px) {
  .our-team__column {
    margin: 5px 5px;
  }
}

.our-team__subtitle-2 {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #f3f3f3;
  margin: 0 0 26px 0;
}

.our-team__btn {
  margin: 0 0 69px 0;
}

.our-team__btn:hover {
  background-color: #00e0d0;
  color: #fff;
  -webkit-box-shadow: 0 0 20px #fff;
          box-shadow: 0 0 20px #fff;
}

.text-2__title {
  margin: 23px 0 12px 0;
  font-weight: 900;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #fff;
}

.text-2__subtitle {
  margin: 0 0 25px 0;
  font-weight: 300;
  font-size: 14px;
  color: rgba(250, 250, 250, 0.7);
}

.our-team {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.our-team__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.our-works__wrapp {
  margin: 70px 0;
  text-align: center;
}

@media (max-width: 767.98px) {
  .our-works__wrapp {
    margin: 35px 0;
  }
}

.our-works__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 71px 0;
}

@media (max-width: 767.98px) {
  .our-works__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 35px 0;
  }
}

.our-works__title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1.1px;
  color: #413d4b;
}

@media (max-width: 767.98px) {
  .our-works__title {
    margin: 0 0 20px 0;
  }
}

.our-works__link a {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.7px;
  color: #413d4b;
}

.our-works__link a img {
  margin-left: 10px;
}

.our-works__link a:hover img {
  -webkit-animation: array 1s linear infinite;
          animation: array 1s linear infinite;
}

@-webkit-keyframes array {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes array {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.our-works__img {
  margin: 0 0 70px 0;
}

.our-works__img img {
  display: inline-block;
  margin: 1px;
}

.our-works__btn:hover {
  background-color: #00e0d0;
  color: #fff;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
}

.reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
  position: relative;
}

.reviews__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.mySwiper2 {
  max-width: 770px;
  height: 100%;
  margin: 69px 0 184px 0;
}

.swiper-slide {
  padding: 0 20px;
}

.slide__decor {
  text-align: center;
  margin: 0 0 42px 0;
}

.slide__text {
  font-family: 'Playfair Display', serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.63;
  letter-spacing: 0.4px;
  color: rgba(255, 255, 255, 0.85);
  margin: 0 0 52px 0;
}

.slide__name {
  text-align: center;
  margin: 0 0 45px 0;
}

.slide__name h3 {
  font-size: 14px;
  font-weight: 900;
  color: #fff;
  line-height: 1.57;
  letter-spacing: 0.7px;
}

.slide__name p {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  color: rgba(255, 255, 255, 0.7);
}

.swiper-pagination2 {
  position: relative !important;
}

.swiper-pagination2 .swiper-pagination-bullet {
  height: 70px !important;
  width: 70px !important;
  border: none !important;
}

.swiper-pagination2 .swiper-pagination-bullet img {
  height: 45px !important;
  width: 45px !important;
}

.swiper-pagination2 .swiper-pagination-bullet-active img {
  height: 70px !important;
  width: 70px !important;
}

.swiper-arrows {
  position: relative;
  z-index: 20;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.s-button-prev {
  margin: 35px 0 0 0;
  position: relative;
  cursor: pointer;
}

.s-button-prev span {
  cursor: pointer;
  margin: auto auto;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 2px solid #9f9f9f;
  border-right: 2px solid #9f9f9f;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.s-button-prev span::after {
  display: none;
}

.s-button-prev::after {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  left: -33px;
  right: -10px;
  bottom: -50px;
}

.s-button-prev:hover {
  -webkit-animation: arrayLeft 1s linear infinite;
          animation: arrayLeft 1s linear infinite;
}

@-webkit-keyframes arrayLeft {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-25px, 0);
            transform: translate(-25px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes arrayLeft {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-25px, 0);
            transform: translate(-25px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.s-button-next {
  margin: 18px 0 0 0;
  position: relative;
  cursor: pointer;
}

.s-button-next span {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-top: 2px solid #9f9f9f;
  border-right: 2px solid #9f9f9f;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.s-button-next span::after {
  display: none;
}

.s-button-next::after {
  content: '';
  position: absolute;
  display: block;
  top: -20px;
  left: -10px;
  right: -33px;
  bottom: -50px;
}

.s-button-next:hover {
  -webkit-animation: arrayRight 1s linear infinite;
          animation: arrayRight 1s linear infinite;
}

@-webkit-keyframes arrayRight {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes arrayRight {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(25px, 0);
            transform: translate(25px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.connection__columns {
  margin: 72px 0 70px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992.98px) {
  .connection__columns {
    margin: 36px 0 35px 0;
  }
}

@media (max-width: 767.98px) {
  .connection__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.connection__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.connection__column:last-child {
  margin: 0 0 0 70px;
}

@media (max-width: 992.98px) {
  .connection__column:last-child {
    margin: 0 0 0 35px;
  }
}

@media (max-width: 767.98px) {
  .connection__column:last-child {
    display: none;
  }
}

.connection__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.connection__row h2 {
  margin: 0 0 35px 0;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 1.1px;
  color: #413d4b;
}

.connection__form {
  width: 100%;
}

@media (max-width: 767.98px) {
  .connection__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.connection__name {
  margin: 0 0 21px 0;
  display: block;
  border: 1px solid #e5e5e5;
  width: 90%;
  height: 45px;
  font-size: 14px;
  padding: 0 0 0 21px;
}

@media (max-width: 767.98px) {
  .connection__name {
    width: 100%;
  }
}

.connection__email {
  margin: 0 0 21px 0;
  display: block;
  border: 1px solid #e5e5e5;
  width: 90%;
  height: 45px;
  font-size: 14px;
  padding: 0 0 0 21px;
}

@media (max-width: 767.98px) {
  .connection__email {
    width: 100%;
  }
}

.connection__subject {
  margin: 0 0 21px 0;
  display: block;
  border: 1px solid #e5e5e5;
  width: 90%;
  height: 45px;
  font-size: 14px;
  padding: 0 0 0 21px;
}

@media (max-width: 767.98px) {
  .connection__subject {
    width: 100%;
  }
}

.connection__massage {
  margin: 0 0 21px 0;
  display: block;
  width: 90%;
  border: 1px solid #e5e5e5;
  height: 200px;
  font-size: 14px;
  padding: 22px 0 0 21px;
}

@media (max-width: 767.98px) {
  .connection__massage {
    width: 100%;
  }
}

.connection__btn {
  padding: 15px 33px;
  background-color: #fff;
}

.connection__btn:hover {
  color: #fff;
  background-color: #00e0d0;
  -webkit-box-shadow: 0 0 20px #000;
          box-shadow: 0 0 20px #000;
}

@media (max-width: 767.98px) {
  .connection__btn {
    margin: 0 auto;
  }
}

.connection__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connection__items h2 {
  margin: 0 0 21px 0;
}

.connection__item {
  margin: 0 80px 0 0;
}

.connection__item img {
  display: block;
  padding: 12px 0;
  margin: 0 0 24px 0;
}

@media (max-width: 992.98px) {
  .connection__item {
    margin: 0 40px 0 0;
  }
}

#response {
  font-size: 24px;
  color: red;
  margin: 15px 0 0 0;
}

.subscribe._sending::after {
  opacity: 1;
  visibility: visible;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  position: relative;
}

.footer__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.footer__row {
  margin: 0 0 70px 0;
  position: relative;
  z-index: 10;
}

@media (max-width: 767.98px) {
  .footer__row {
    margin: 0 0 35px 0;
  }
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__columns h3 {
  margin: 90px 0 42px 0;
  font-weight: 900;
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: 0.75px;
  color: #fff;
}

@media (max-width: 767.98px) {
  .footer__columns h3 {
    margin: 45px 0 11px 0;
  }
}

.footer__columns p {
  font-size: 14px;
  color: #fff;
  line-height: 1.86;
  letter-spacing: 0.35px;
}

@media (max-width: 767.98px) {
  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 18px 0 18px;
}

.footer__column:first-child {
  margin-left: 0;
}

.footer__column:last-child {
  margin-right: 0;
}

.footer__logo {
  display: block;
  margin: 75px 0 34px 0;
}

@media (max-width: 767.98px) {
  .footer__logo {
    display: inline-block;
    margin: 34px 0 22px 0;
  }
}

.footer__addres {
  background: url(../img/icons/big-104.png) 0 6px no-repeat;
  padding: 0 0 0 32px;
}

@media (max-width: 767.98px) {
  .footer__addres {
    display: inline-block;
  }
}

.footer__phone {
  background: url(../img/icons/phone-351.png) 0 6px no-repeat;
  padding: 0 0 0 32px;
}

@media (max-width: 767.98px) {
  .footer__phone {
    display: inline-block;
  }
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 27px 0;
}

.footer__input {
  width: 211px;
  height: 45px;
  padding: 0 0 0 16px;
  border: 1px solid #a19bb4;
}

.footer__btn {
  margin-left: 10px;
  width: 70px;
  height: 45px;
}

.footer__ikons a {
  margin: 0 4px 0 4px;
}

.footer__ikons a:first-child {
  margin-left: 0;
}

.footer__ikons a:last-child {
  margin-right: 0;
}

.footer__ikons a img:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0 0 10px #00e0d0;
          box-shadow: 0 0 10px #00e0d0;
}

.footer__footer {
  margin: 0 0 72px 0;
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767.98px) {
  .footer__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 36px 0;
  }
}

.footer__link a {
  margin: 0 35px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  letter-spacing: 0.35px;
  color: #fff;
}

.footer__link a:hover {
  color: #00e0d0;
}

@media (max-width: 479.98px) {
  .footer__link a {
    margin: 0 0 25px 0;
  }
}

@media (max-width: 479.98px) {
  .footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__licenses {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.86;
  letter-spacing: 0.35px;
  color: #fff;
}
